@{
}

@model TimeSlot

<div class="card card-outline-primary m-1 p-1">
    <div class="card-text p-1">
        <span>Date: @Model.TimeSlotDay</span>
        <br />
        <span>Time: @Model.TimeSlotStart</span>
    </div>
    <a asp-controller="Home" asp-action="SignUpForm" asp-route-id="@Model.TimeSlotId">Edit</a>
</div>