@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Layton, Utah Temple Tours</h1>
    <p>Info here...</p>
</div>

<img src="~/img/layton-utah-temple-6932-main.jpg" />

<!--What if we made col with the info on one side and the picture on another?-->