@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Layton, Utah Temple Tours</h1>
    <br />
    <div class="p-3"><img src="~/img/layton-utah-temple-6932-main.jpg" /></div>
    
    
    <p>
        We can only add a limited number of tours at this time. They will be removing the visitors center soon so that they can complete the landscaping. When the trailer is gone, we anticipate being able to talk to groups on the lawn of the church across the street or at the Morgan's backyard. We are trying to facilitate as many groups as possible, so please only sign-up when you can commit to coming on the selected date and time. We have a lot of last minute cancelations.

    </p>

    <div class="font-weight-bold">
        <h5>General Tour Instructions:</h5>
    </div>
    
    <p>
        Park on Rosewood (west side of the temple) and meet at the Visitors Center trailer. <br />
        Dress casual, except on Sunday       
    </p>

    <div class="font-weight-bold">
        <h5>Avaliable Tours</h5>
    </div>

    <p>
        Tour (Outdoor): We will walk on the sidewalk along Oak Hills and on Rosewood in front of the temple on uneven surfaces; please wear sturdy shoes. <br />
        Trailer Tour: On Sunday. Masks are required.
    </p>
</div>

<div class="text-center" >
    <a class="btn btn-primary" asp-controller="Home" asp-action="SignUp">Sign Up</a>
</div>


<!--What if we made col with the info on one side and the picture on another?-->