
@* This is for adding information after the time slot is set*@
@{
    ViewData["Title"] = "SignUp Form";
}

@model TempleTours.Models.Appointment

<style>
    .form-element label {
        display: inline-block;
        width: 150px;
    }

</style>

<div>
    <h1>Appointment Time</h1>
    <h4>@Model.TimeSlot.TimeSlotDay @Model.TimeSlot.TimeSlotStart:00</h4>

    <form method="post">

        <input type="hidden" id="AppointmentId" asp-for="AppointmentId" />
        <input type="hidden" id="TimeSlotId " asp-for="TimeSlotId" />
        <br />

        <div class="form-element">
            <label asp-for="GroupName">Group Name</label>
            <input asp-for="GroupName" />
            <br />
        </div>

        <div class="form-element">
            <label asp-for="GroupSize">Group Size</label>
            <input asp-for="GroupSize" />
            <br />
        </div>


        <div class="form-element">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" />
            <br />
        </div>

        <div class="form-element">
            <label asp-for="Phone">Phone Number</label>
            <input asp-for="Phone" />
            <br />
        </div>
        <br /> 

        <button class="btn btn-primary" type="submit">Submit Tour</button>
        <div asp-validation-summary="All"></div>
    </form>
</div>
